[*.cs]

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# S3925: "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none

# S2699: Add at least one assertion
dotnet_diagnostic.S2699.severity = none

# S3220: Method calls should not resolve ambiguously to overloads with "params"
dotnet_diagnostic.S3220.severity = none

# S3376: Attribute, EventArgs, and Exception type names should end with the type being extended
dotnet_diagnostic.S3376.severity = none
